.async-pending {
	display: flex;
    align-items: center;
    height: 20px;
	font-weight: normal;
}

ion-spinner {
	height: 20px;	
	width: 20px;
	margin-right: 5px;
}

ul {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 5px;
	color: var(--ion-color-danger);
}