<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm">
    <ion-input formControlName="name" type="text"></ion-input>
  </form>

  <error-messages [control]="myForm.controls.name" [customErrors]="customNameErrors"></error-messages>
</ion-content>
